<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{title}}!
  </h1>
  <div>
    <h2>Shows</h2>
    <ul class="shows">
      <li *ngFor="let show of shows" (click)="onSelect(show)">
        {{show.date.toISOString().slice(0,10)}}, <span class="italics" >{{show.location.venue}}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="selectedShow" >
    <h1>{{selectedShow.location.venue}}</h1>
    <h2>{{selectedShow.date.toISOString().slice(0,10)}}</h2>
    <h3>Setlist</h3>
    <ul class="setlist">
      <li *ngFor="let song of selectedShow.setlist">
        {{song}}
      </li>
    </ul>
    <h3>Lineup</h3>
    <ul class="lineup">
      <li *ngFor="let musician of selectedShow.lineup">
        {{musician}}
      </li>
    </ul>
      
  </div>
</div>
