.italics {
  font-style: italic
}

.bold {
  font-weight: bold
}

ul {
  list-style: none;
}

.app {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #D1F9E8
}

.header {
  padding: .25rem;
  background-color: #AAEBCF
}

.main {
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}

.shows-pane {
  height: 100%;
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.shows-header {
  padding: .1rem;
  background-color: #DD87C8
}

.shows-wrapper {
  flex: 1;
  overflow-y: auto;
}

.shows {
  height: 100%;
  overflow-y: auto;

}

.selected {
  background-color: #DD87C8 !important;
}

.details {
  flex: 1;
  height : 100%;
  padding: 1rem;
  overflow-y: auto;
}

.details-header{
  background-color: #FFE29C;
  padding: .5rem;
}

.details-body {
  padding: 1rem;
}

.details-body h3{
  padding: .25rem 0;
}

.details-card {
  background-color: #FFF3D7;
}

.show-li {
  padding: .25rem;
b  white-space: nowrap;
  background-color: #FFF7FD;
}

.list-li {
  background-color: #FFEBB8;
  padding: .25rem;
}

.list-li:hover {
  background-color: #FFF3D7;
}

.list-li:nth-child(even) {
  background-color: #FFE29C;
}


.show-li:nth-child(even) {
  background-color: #FAD2F0;
}

.x {
  color: red
}
